.App {
  text-align: left;
  max-width: 1440px;
  margin: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 60px
}

@media screen and (max-width: 910px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 496px) {
  .App {
    padding: 15px;
    gap: 30px;
  }
}

